/** Responsive CSS **/

/* ============================= 1024px ====================== */
@media (max-width: 1240px) {
.icon.icon-question-sign{
    display: none;
}
.header{position: relative;}
.calender_comments.map-right{display: none;}
.photo-pile .matte-media-box{width: 28%;}	

.animation-bar{
	right:35px !important;
}


}

/* ============================= 768px ====================== */

@media (max-width: 768px){
.container {    width: 100%;}
.header .container2 .col-md-7{
    float: left;
    width: 50%;
}
.text-center {
    display: inline-block;
    float: left;
    text-align: center;
    width: 100%;
}

.host-list {
    display: inline-block;
    float: none;
    margin: 0 30%;
    padding: 6px 0;
    text-align: center;
    width: auto;
}
.devlop-link {

    padding: 1px 0 30px;
    width: 100%;
}

.footer-bg .col-md-4.inputfoot{
    float: left;
    width: 33%;
}
.footer-bg .col-md-3{
    float: left;
    width: 23%;
}

.footer-bg .col-md-2{
    float: left;
    width: 20%;
}



.nav #broswe_box1 #showlist_test{   margin: -14px 5px 0 !important;}
.dashboard_links li{    margin-left: 30px;}
.home_type_field{ width: 95%;}
.listyourspace .home_type label{text-align: left; margin: 0 0 0 23px;}
.listyourspace .city_type label{text-align: left; margin: 0 0 0 23px;}
.dashboard .box .middle {
    float: left;
    width: 97%;
}

.dashboard .box {
    float: left;
    width: 97%;
}
.profile-edit #account select.mnths {
    float: left;
    width: 100px;
}

.phone-number-verify-widget {
    margin: 10px 38px 0;
}
.left-img-container img {
    border-radius: 0;
    width: 100%;
}

.showlist2.useclas{ right: -25px;}
.browsefriendsbannner .main-text {
    top: 5%;
}

.photo-pile .matte-media-box {
    margin: 23px 28px;
    width: 42%;
}

#dashboard #left{   width: 30%;}
.dash-home #dashboard #main{ width: 69%;}

.map {
    border-right: 1px solid #d0d0d0;
    bottom: 0;
    display: block ;
    float: left;
    left: 0;
    position: inherit;
    top: 98px;
    width: 100% ;
}

.host-list {
    margin: 0 10%;
    padding: 6px 0;
    width: auto;
}

.host-list li{   margin: 0;
    padding: 0 0 0 13px;}

.host-section .col-md-4 {
      float: left;
    width: 33.3333%;
}

.home_type_field_btn li{  padding: 20px 8px 12px;}
.listyourspace .accommodates_type label{   padding: 0 0 0 20px; text-align:left;}

.header .container2 .col-md-5{padding: 0}
.popular-listing .figures-cobnt{  height: 237px;}
.navbar .navbar-inner{
    padding: 6px 0;
}
.photo-pile .matte-media-box {
    width: 42%;
}
._pm_container a.upload-photo span{font-size: 12px;}
#listings-container{ padding: 26px 10px 0;}
ul.listings .listing .listing-info{ width: 41%;}
.left_side{width:30%;}
.right_side{width:70%;}
.manage_listing-right .calender_bottom_block .calender_detail {
    padding: 0;
}
.calender_detail li{
    float: left;
    margin-right: 2px;
    padding-left: 0;
    padding-right: 0;
    width: 48%;
}
.dashboard_price_right{width:100%;}
.right_side.nsd {    width: 70%;}
.widget_content li{ width: 45%;}
.right_side.address-left + .calender_comments{display: none;}
.address-left .dashboard_price .dashboard_price_left {
    float: left;
    padding: 0 0 20px;
    width: 100%;
}
.profile-edit #account textarea{   width: 60% !important;}
.left-notic {width: 100%;}
#account input.conect{ width: 160px !important;}
.account #privacy { width: 73%;}
#account div.buttons, #requirements div.buttons {
    float: right;
    padding: 10px;
    text-align: right;
}
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all {
    display: block;
    height: auto;
    left: 14% !important;
    position: absolute;
    top: 15% !important;
    width: 70% !important;
    z-index: 1001;
}


/* ============================= New ====================== */

.hme-container li{
	padding: 0;
	width: 100%;
}
.overlay-text{
	width: 99%;
}
/* ============================= photo-video ====================== */


#account input.blu-btn {
    float: none;
    margin-left: 0 !important;
}
#profile_settings_form {
    display: inline-block;
    float: none;
    text-align: center;
    width: 100%;
}


/* ============================= show ====================== */

.confirms{
	width: 100%;
	padding: 7px 0 0;
}

.top-bar .span6 {
    width: 67% !important;
}

.priced-rowd {
    float: left;
    width: 46%;
}



.map{
	display: none;
}
.sidebar{
	overflow-y: inherit;
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
}
.filter-reald{
	 text-align: center;
}
.filter-btn{
	display: inline-block;
    float: none;
}
.map-areas .similar-listing li {
    float: left;
    width: 41%;
}

/* ============================= Detail-page ====================== */



.banner-container #carousel-example-generic.slide{
	height: 315px;
}
.animation-bar {
    display: inline-block;
    float: left;
    left: 0 !important;
    margin: 0;
    position: relative !important;
    right: inherit !important;
    top: 0 !important;
    width: 100% !important;
     z-index: -1 !important;
}
.listing-menu-left {
    float: left;
    width: 79%;
}
.review-section-area .container .center{
	width: 100% !important;
}
.review-section-area .container .slides #side_bar{
	width: 100% !important;
}
.fized-hei-area{
	height: auto;
}
.about-listing{
	 margin: 0;
}
#side_bar ul{
	 height: 270px !important;
	 width: 100% !important;
}






}


/* ============================= 736px ====================== */

@media (max-width: 736px){

	.nav-collapse.navbar-collapse .nav{float: left; width: 100%}
	.navbar-collapse.my-nav #broswe_box1{float: left; width: 100%} 
	.browse_di {
    float: left;
    margin: 0;
    padding: 10px 0;
    text-align: left;
    width: 100%;
}
.nav > li:last-child {
    float: left;
    margin: 0 0 0 17px;
    width: 100%;
}

.showlist3 {
    position: relative;}

.showlist3 {
    display: block !important;
    left: -70px;
    position: inherit;
    right: auto;
}
.header .container2 .col-md-7 {
    float: left;
    width: 100%;
}
.nav > li:last-child{margin: 0}
.navbar .nav > li > a.request-trip{width: 72%;
}

.header .container2 .col-md-5 {
    display: inline-block;
    float: left;
    padding: 0;
    text-align: center;
    width: 100%;
}
.nav #broswe_box1 #showlist_test{border: 1px solid}
.header .container2 .col-md-5 .navbar{
    display: inline-block;
    margin: 0;
    width: 90%;
}

#broswe_box1 a {
    float: left;
    height: auto !important;
    overflow: hidden;
    padding: 17px 0 0;
    width: 95%;
}

.navbar .btn-navbar {
    background: none repeat scroll 0 0 #565a5c;
    border-radius: 1px !important;
    box-shadow: 0 0 13px 0 #262a2c inset;
    display: inline-block;
    float: none;
    text-align: left;
    width: 240px;
}
.navbar .btn-navbar span{
    float: left;
    font-size: 15px;
    font-weight: normal;
}

.resp-menu{
    background: url("../../images/menu.png") no-repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);
    float: right;
    height: 15px;
    width: 20px;
}

.navbar .btn-navbar:hover{    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);}
.brows-loop .browse {
    float: right;}
.showlist3 {
    display: block !important;
    float: left;
    left: auto;
    position: inherit;
    right: 0;
    text-align: left;
    top: 10px;
    width: 103%;
}
.navbar-collapse.my-nav .nav{
    border: 1px solid #ccc;
    float: left;
    margin: 10px 0 0;
    padding: 10px;
    width: 100%;
}
.nav-collapse .nav > li{
    float: left;
    text-align: left;
    width: 100%;
}
.nwsd.ard{
    position: absolute;
    right: 60px;
    top: 11px;
    z-index: 999;
}
.navbar-collapse.my-nav{position: relative;}
#broswe_box1 .caret {
    float: right;
    margin: 14px 3px 8px;
}
.brows-loop {
    color: #131313;
    float: left;
    font-size: 13px;
    margin: 0;
    padding: 8px 0 0;
    position: relative;
    text-align: left;
    width: 90%;
}
.brows-loop .browse {
    float: left;
    padding: 0 0 6px 3px;
    width: 111%;
}
.lins-ares{float: left;}
.showlist2.useclas {
    display: block;
    float: left;
    margin: 10px 0 0;
    position: inherit;
    width: 100%;
}
.nav-collapse .browse .caret {
    margin: 9px 25px 0 8px;
}
.logo-container .brows-loop{display: none;}
.inpt-head-place{float: right;}
.row > .span1, .row > .span2, .row > .span3, .row > .span4, .row > .span5, .row > .span6, .row > .span7, .row > .span8, .row > .span9, .row > .span10, .row > .span11, .row > .span12{margin-left: 0}
.top-bar .top-right-container {
    float: left;
    padding: 38px 30px 0 28px;
    width: auto;
}

.photo-pile .matte-media-box {    margin: 23px 4%;}
.learn-more-about-hosting-page .how-it-box .how-top-box {
    padding: 0 10px;
}

.adva-icon {    text-align: left;}
.bok-area span{width: 100%}
input.cnt-bx[type="text"]{width: 100%}

#dashboard #left {
    clear: both;
    float: none;
    margin: 0 auto;
    width: 50%;
}

.dash-home #dashboard #main {
    width: 97%;
}

#dashboard #main.dashboard-right .middle{width: 100%}
div.notification_section .notification_area{ width: 99%;}
#account input.conect {
    width: 150px !important;
} 


/* ============================= New ====================== */

#carousel-example-generic{
	height: 250px !important;
}
#carousel-example-generic .carousel-inner .item{	
	height: 250px !important;
}
#carousel-example-generic .carousel-inner .item .content-section{
	height: 250px !important;
}
.banner-container .col-md-12{
	padding:0px;
}
.navbar .btn-navbar {
	width:99%;
}
.hidden-xs{
	display: block !important;
}
.main-text{
	 top: 26%;
}
.searching-section{
	bottom: inherit;
	padding: 25px 0;
	margin: 0 auto;
}
#property_search_form{
	padding:0px;
}
select.home_select{
	width: 119px;
}
.navbar-inner .brows-loop{display: block;}
.logo-container .brows-loop{display: none;}
#dashboard #left{
	width: 100%;
}

/* ============================= photo-video ====================== */


#account input.blu-btn {
    float: none;
    margin-left: 0 !important;
}
#profile_settings_form {
    display: inline-block;
    float: none;
    text-align: center;
    width: 100%;
}


.top-bar .span6 {
    width: 96% !important;
}
.wishlist-header-badge.one-line {
    display: inline-block;
    float: none;
    padding: 0;
    text-align: center;
    width: 100%;
}
.wishlist-header-badge h1{
	width:100%
}
h1.users-counts{
	padding: 10px 0;
    width: 100%;
}
.top-bar .top-right-container{
	text-align: center;
    width: auto;
}
.position-right {
    float: none;
}
.navbar .btn-navbar .icon-bar{
	float: right !important;
	background:url('../../images/menu-bar.png') no-repeat !important;
	width:28px !important;
	height:20px !important;
	border:none !important;
	box-shadow:none !important;
}



}


/* ============================= 667px ====================== */


@media (max-width: 667px){
    .footer-bg .col-md-4.inputfoot {
    float: left;
    width: 46%;
}
.footer-bg .col-md-3 {
    float: left;
    padding-bottom: 22px;
    padding-top: 4px;
    width: 46%;
}
.popular-listing { padding: 0;}
.animation-bar {
    float: left;
    margin: 0;
    position: inherit !important;
    right: 0 !important;
    width: 353px;
    z-index: 99;
}

.fized-hei-area { height: auto;}
.tips-text {
    color: #9c9c9c;
    float: right;
    font-family: opensansregular;
    font-size: 13px;
    line-height: 20px;
    margin: 0 25px 10px 20px;
    width: 92%;
}
#account input.blu-btn{
    margin-left: 0 !important;
}
.verify-left {
    float: left;
    width: 97%;
}
.left-sided {
    float: left;
    width: 97%;
}
.left-sided + .unstyled {
    float: left;
    width: 94%;
}
.section.notification_section .notification_area {
    padding-left: 5px;
}
.listyourspace .apart_hide{width: 99%}
.price-listing .dashboard_price .dashboard_price_left {
    float: left;
    width: 100%;
}

.dashboard_price #pricelist {
    float: left;
    width: 98%;
}
.calender_comments{display: none;}
.lisdt-area form input[type="file"] {
    cursor: pointer;
    left: 155px;
    opacity: 0;
    position: absolute;
    top: 13px;
    width: 120px;
}
.right_side.space-listing .dashboard_price .dashboard_price_left {
    float: left;
    padding: 0;
    width: 96%;
}
.right_side.space-listing .dashboard_price_right {
    float: left;
    margin-left: 0;
    padding-left: 0;
    padding-right: 12px;
    width: 100%;
}

/* ============================= New ====================== */

.host-section .col-md-4{
	text-align: center;
	width: 100%;
}
.host-list li{
	background:none;
	text-align: center;
}
.footer-bg .col-md-4.inputfoot {
    float: left;
    text-align: center;
    width: 100%;
}
.country-lop {
    display: inline-block;
    position: relative;
    text-align: center;
    width: 210px;
}
.dropdn{
	width: 99%;
	left: 0;
}
.footer-bg .col-md-3{
	padding: 15px 0;
    text-align: center;
    width: 100%;
}
.footer-list li a{
	display: inline-block;
	float:none;
}
.footer-bg .col-md-2 {
    float: left;
    width: 100%;
	text-align: center;
}
.copy-txt p{
	padding: 25px 0 0;
    text-align: center;
}

.navbar .nav > li > a.request-trip {
    width: 100%;
}
.dashboard_links li{
	 width: 100%;
	 margin: 10px 0 !important;
}


/* ============================= List your space ====================== */


.aparthide_right{
	width: 67%;
}
.listyourspace .aparthide_left{
	padding: 17px 13px 17px 0;
}
.listyourspace .aparthide_right strong{
	width: 95%;
	line-height: 18px;
}
.aparthide_right1{
	 width: 75%;
}
.hme-container li{
	padding: 0;
	width: 100%;
}
.overlay-text{
	width: 99%;
}
.listyourspace .apart_hide .aparthide_right1 span {
    padding: 11px 0 0 28px;
    width: 100%;
}
.left_side {
    width: 100%;
}
.left_side_bottom{
	padding:0px;
}
.right_side {
    width: 100%;
}
.for_auto_ser ul{
	 width: 66%;
}
.right_side.nsd {
    width: 100%;
}


/* ============================= dashboard ====================== */


#example-two .list-wrap{
	width: 100%;
}
.dashboard .box{
	width: 100%;
}
.dashboard .box .middle {
    float: left;
    width: 100%;
}
.yourlistinghome .dashboard-sidemenu {
    float: left;
    padding: 0 15px;
    width: 100%;
}
.yourlistinghome .listiong-areas {
    float: left;
    width: 97%;
}
.dashboard-leftmenu {
    float: left;
    padding: 0 15px;
    width: 100%;
}
.dashboard-rightmenu {
    float: left;
    width: 97%;
}
.trip .subnav{
	padding: 0 15px;
    width: 100%;
}
.current_trips {
    float: left;
    width: 97%;
}
.profile-edit .dashboard-sidemenu {
    float: left;
    width: 100%;
}
.subnav a.invitefrds{
	width: 100%;
}
.profile-edit .listiong-areas {
    width: 97%;
}
.photos .dashboard-sidemenu {
    width: 100%;
}
.listiong-areas {
    width: 97%;
}
.dashboard-sidemenu {
    float: left;
    width: 100%;
}
.emailverify .subnav a.invitefrds {
    width: 97%;
}
.account .subnav {
    width: 100%;
	padding: 0 15px;
}
.account #account {
    width: 97%;
}
.account #transaction_history {
    width: 96%;
}
#productListTable {
    float: left;
    margin: 0;
    width: 100%;
}
#productListTable td.paddgns{
	line-height: 19px;
}
.account #privacy {
    width: 97%;
}
.subnav li{
	text-align: center;
}


.text-center h1.listing-text{
	line-height: 43px;
	font-size: 30px;
}
#dashboard #left{
	width: 100%;
}


/* ============================= learn-more-about-hosting ====================== */

.adva-icon, .adva-text h2 {
    text-align: center;
}
.advantages-list li{
	text-align: center;
}
.learn-more-about-hosting-page .how-it-box h2 {
    display: inline-block;
    float: none;
}
.adva-text p{
	float: none;
	text-align: center;
}
#content_text li{
	float: none;
    padding: 10px 36px 10px 0;
    text-align: center;
}
#content_text h3{
	line-height: 28px;
}
.contact-space{
	padding: 0;
}
.address-section{
	padding: 0 0 50px;
}
.banner-container.businessbannner{
	height: 250px;
}
.center-space-area{
	text-align:center;
}



/* ============================= Payment Page ====================== */

.payment_user{
	width: 100%;
}
.payment_left{
	width: 100%;
	padding: 0 0 20px 30px;
}
.payment_right{
	width: 100%;
	padding: 30px 0 0 30px;
}
.TabbedPanelsContentGroup{
	display: inline-block;
}
.dashboard_links {
    float: left;
    margin: 0;
    padding: 40px 25px;
    width: 100%;
}
.currency_alert{
	width:100%;
}


/* ============================= booking ====================== */


.payment-section1{
	width: 100%;
}

.namd-space{
	width:100%;
}
.listig-areasli li{
	margin: 0 26px 40px 0;
}
.listig-areasli li img {
    height: auto;
    width: 100%;
}
.top-posd{
	width: 100%;
}
.top-posd span {
    float: left;
    width: 100%;
}
.listd-right p{
	text-align: center;
}
.adva-icon {
    text-align: center;
}



/* ============================= List page ====================== */


.span2.filter-label.linedpad3 {
    display: inline-block;
    margin-bottom: 15px !important;
    width: 100%;
}
#amount_pricefilter{
	width: 100% !important;
}
.similar-listing{
	padding: 0;
}
.map-areas .similar-listing li {
    float: left;
    width: 45%;
	margin: 0 15px 0 10px;
}
#side_bar .img-top {
    width: 100% !important;
}
.figures-cobnt{
	width: 100%;
}
.figures-cobnt img {
    width: 100%;
}



}

/* ============================= 600px ====================== */


@media screen and (max-width:600px){


.tips-text{
	width: 92%;
}
.listing-menu-left {
    float: left;
    width: 100%;
}
.pep-name{
	 width: 100%;
}
.listing-pep{
	float: none;
}
.listing-menu-right {
    display: inline-block;
    float: none;
    text-align: center;
    width: 100%;
}


}

/* ============================= 568px ====================== */

@media screen and (max-width: 568px){

.home_type_field_btn li img{
	display:none;
}
.listyourspace .home_type_field_btn li span{
	padding: 0;
}
.home_type_field_btn li {
    padding: 20px 8px;
}
select.other-opt{
	padding: 15px 6px;
	height: 56px !important;
}
.accommodates_type_field .appa_icon, .city_type_field .appa_icon{
	display:none
}
.home_type_field_btn  .aparthide_left .appa_icon{
	display:none
}
.listyourspace .aparthide_left {
    padding: 17px 13px;
}
.home_type label{
	width: 95%;
}
.home_type_field{
	margin-left: 10px;
}
.listyourspace .apart_hide span{
	padding:0px;
}
.listyourspace .home_type label {
    margin: 0 0 0 13px;
    text-align: left;
}
.home_type_field_btn li{
	 width: 99%;
}
.tools{
	left: -2px;
}
select.other-opt{
	width: 100%;
}
.accommodates_type_field {
    float: left;
    margin-left: 10px;
    width: 94%;
}
.accommodates_type label{
	width: 98%;
}
select.select-bor{
	width: 98%;
}
.listyourspace .city_type label{
	 margin: 0 0 0 18px;
}
.city_type_field {
    float: left;
    margin-left: 10px;
    width: 93%;
}
.listyourspace .city_type_field_btn li{
	width: 100%;
}
.city_type_field .city_type_field_btn li .appa_icon.icon-10 + span {
    float: left;
    width: 100%;
}
#cityser{
	width: 100% !important;
}
.aparthide_right {
    background: none repeat scroll 0 0 #fff;
    width: 100%;
    z-index: 9999;
}
.listyourspace .aparthide_left {
    border-right: medium none navy;
    padding: 17px 13px;
    width: 100%;
}
.aparthide_left_arrow{
	display:none
}
.listyourspace .apart_hide{
	height: auto;
}
.home_type_field_btn li a{
	 display: inline-block;
    width: 100%;
}
.home_type_field_btn{
	position:relative;
}
#homelist8{
	 top: 62px;
}
#homelist9{
	top: 124px;
}
#homelist11{
	top: 62px;
}
.listyourspace .accommodates_type_field_btn li{
	width: 100%;
}



.intro-filter.clearfix .control-group input[type="text"]{
	width: 30%;
}
.filter-primary-item.span2 {
    margin-left: 0;
    width: 30%;
}


}

/* ============================= 480px ====================== */


@media screen and (min-width: 480px) and (max-width: 567px){

}

/* ============================= 414px ====================== */



@media screen and (max-width: 414px){


.main-text {
    top: 15%;
}
.text-center h1, .text-center h3{
	display:none;
}
.searching-section input.where, select.home_select{
	width: 97%;
}
.searching-section input.chek{
	width: 48%;
}
.searching-section input.chek-in{
	width: 49%;
}
.searching-section input.fom-subm {
    margin-top: 10px;
    width: 98%;
}
.main-text {
    top: 0;
}
.hme-container li a{
	height: 210px;
}
.overlay-text{
	padding: 89px 0 0;
}

.payment_method_paypal{
	padding-left: 0;
	padding-top: 40px;
}
.payment_agree .btn.green{
	float: left !important;
}

/* ============================= booking ====================== */


.payment-section1{
	width: 100%;
}
.over-view-details-left{
	width: 100%;
}
.over-view-details-right{
	width: 100%;
}
.login-list-cont li span{
	width: 97%;
}
.login-list-cont li input{
	width: 91%;
}
.login-list-cont li select{
	width: 91%;
}
.login-list-cont li.caling-area input {
    width: 73%;
}



/* ============================= dashboard ====================== */



#dashboard #left {
	width: 100%;
}
.yourlisting .top-listing-head #nav li{
	text-align: center;
    width: 100%;
}
.yourlisting .top-listing-head #nav li a{
	display: inline-block;
	padding: 8px 2px;
	float:none;
}
._pm_container a.upload-photo span{
	float:none;
	display: inline-block;
}
._pm_container a.upload-photo i{
	float:none;
	display: inline-block;
}
._pm_container a.upload-photo{
	padding: 13px 0;
	display: inline-block;
    float: none;
    text-align: center;
}
.dash-home #dashboard #main {
    width: 100%;
	margin-left: 0;
}


/* ============================= listing ====================== */


#listings-container .image{
	height: auto;
    overflow: hidden;
    width: 100%;
}
ul.listings .listing .image img{
	 height: auto;
    padding: 3px;
    width: 100%;
}
ul.listings .listing .listing-info {
    margin: 0;
    text-align: center;
    width: 100%;
}
.activation-notification {
    display: inline-block;
    float: none;
    text-align: center;
    width: 100%;
}
#listings-container .listing-criteria-header-message {
    margin-top: 13px;
    text-align: center;
}

/* ============================= listing-reservation ====================== */


.resrev #productListTable{
	margin:10px;
}
.dashboard .box {
    overflow: auto;
    width: 100%;
}
.dashboard-rightmenu{
	width: 100%;
}
.dashboard .box .middle{
	margin: 0;
}
#productListTable{
	background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #dcdcdc;
}
.resrev #productListTable {
    margin: 10px 0;
}
.save-social{
	float:none;
}
.resr-req .panel-footer{
	text-align: center;
}
#trips .section.notification_section .notification_area{
	padding-left: 10px;
}
#account input, #account select, #account textarea {
    margin: 10px 0 0;
}
#trips .notification_area input[type="text"]{
	width: 97%;
}


/* ============================= Profile-page ====================== */


#account .box{
	margin-top: 20px !important;
}
.profile-edit .listiong-areas {
    width: 99%;
}
#profile_settings_form {
    float: left;
    width: 100%;
}
#div-form ul li {
    float: left;
    padding: 0 15px;
    width: 100%;
}
.profile-edit div.notification_section label{
	text-align: left;
    width: 100%;
}
.profile-edit #account input, .profile-edit #account select, .profile-edit #account textarea{
	margin-left: 0;
}
.tips-text {
    float: left;
    margin: 0;
    text-align: left;
    width: 99%;
}
.profile-edit #account input, .profile-edit #account select, .profile-edit #account textarea{
	width: 99% !important;
}
.profile-edit #account select.gends {
    width: 99%;
}
.profile-edit #account select.mnths{	
	margin-right: 10px;
}
.profile-edit #account select.mnths2{
	 margin-right: 10px;
}
.phone-number-verify-widget {
    margin: 10px 0;
    width: 100%;
}
.phone-number-input-widget {
    float: left;
    width: 100%;
}
.profile-edit #account select#phone_country {
    margin: 0 0 9px;
    width: 100%;
	height: 39px;
}
.phone-number-input-widget label{
	width: 100% !important;
}
.phone-number-input-widget .pniw-number-container .pniw-number-prefix{
	margin-top:10px;
}
.profile-edit #account input#phone_number{
	width: 88% !important;
}
.profile-edit #account textarea{
	width:100% !important;
}
span.no-numbr{
	padding: 7px 0 0;
    width: 100%;
}
.profile-edit #account select.mnths {
    float: left;
    width: 88px;
}
.inner_language{
	width: 100%;
}



/* ============================= photo-video ====================== */


#account input.blu-btn {
    float: none;
    margin-left: 0 !important;
}
#profile_settings_form {
    display: inline-block;
    float: none;
    text-align: center;
    width: 100%;
}
.img-left-section {
    display: inline-block;
    float: none;
    margin: 10px 0;
    width: 100%;
}
.img-right-section {
    display: inline-block;
    float: none;
    text-align: center;
    width: 100%;
}


/* ============================= profile page ====================== */


.namd-space{
	width: 100%;
}
.listig-areasli li{
	margin: 10px 0;
	width: 100%;
}
.listig-areasli li img {
    height: auto;
    width: 100%;
}
.listig-areasli .view-texts {
    margin: 0 0 20px;
}
.reviwprofile .reviw-count{
	text-align: center;
}
.summar-text{
	width: 100%;
}
.reviwprofile .peps{
	width: 100%;
}
.reviwprofile .listd-right {
    float: left;
    padding: 12px 0 0;
    width: 100%;
}
.reviwprofile .review-summary .listd-right p{
	text-align: center;
}
.view-texts{
	text-align: center;
}

/* ============================= account ====================== */


.notification_area .sideg p{
	width: 100%;
}
.right-acnt{
	width: 100%;
}
#account input, #account select, #account textarea {
    margin: 2px 8px 0 0;
}
div.notification_section .right-acnt label{
	padding: 0;
}

/* ============================= account-security ====================== */

.password-fields td input{
	width: 170px !important;
}


/* ============================= account-setting ====================== */

#country{
	width: 160px !important;
}
.top-posd{
	top: 63px;
    width: 100%;
}



/* ============================= popular ====================== */

.popular-listing li {
    float: left;
    width: 100%;
}
.popular-listing .figures-cobnt {
    height: 190px;
}

.photo-pile .matte-media-box {
    margin: 8px 0;
	width: 100%;
}
.top-bar .span6 {
    width: 96% !important;
}
.wishlist-header-badge.one-line {
    display: inline-block;
    float: none;
    padding: 0;
    text-align: center;
    width: 100%;
}
.wishlists-container .matte-media-box {
    float: none;
    margin: 10px 0;
    position: relative;
}
.wishlist-header-badge h1{
	width:100%
}
h1.users-counts{
	padding: 10px 0;
    width: 100%;
}
.top-bar .top-right-container{
	text-align: center;
    width: auto;
}
.position-right {
    float: none;
}
.wist-tiles{
	float: none;
}
.wish-area-right {
    display: inline-block;
    float: none;
    text-align: center;
    width: 100%;
}
.wish-area-top{
	text-align: center;
}
.mobile-stater span, .mobile-stater strong, .mobile-stater i, .mobile-stater a{
	float: none;
}
.mobile-stater{
	float: none;
}
.wishlists_span7 {
    float: left;
    text-align: center;
    width: 100%;
}
.spaced li{
	 float: none;
}
.priced-rowd {
    float: left;
    margin-top: 15px;
    text-align: center;
    width: 100%;
}
.newbts1{
	float: none;
}
.newbts2{
	float: none;
	border-left:1px solid #ccc;
}



/* ============================= price_listing ====================== */
	

.manage_listing-right .calender_box_main {
    padding: 0;
}
.calender_bottom {
    padding: 40px 10px;
}
.calender_hide{
	width: 100%;
	margin: 0 0 0 -10px;
}
.sub_header_left li.write_title{
	font-size: 13px;
}
.overview.right_side .dashboard_price_main{
	padding: 25px 10px 0;
}
.dashboard_price .dashboard_price_left {
    float: left;
    width: 100%;
}
.right_side.price-listing .dashboard_price_main{
	padding: 13px 9px 30px;
}
.right_side.nsd .dashboard_price_main {
    padding: 26px 10px 38px 7px;
    width: 100%;
}
.right_side .dashboard_price_main{
	padding: 10px 10px 20px;
}
.rooms_select {
    width: 100%;
}
input, textarea, select, .uneditable-input{
	width: 100%;
}
.address-left .dashboard_price_right {
    float: left;
    margin-left: 20px;
    padding-left: 12px;
    padding-right: 12px;
    width: 88%;
}
.cancelation-text{
	padding: 20px 0 0 14px;
	width: 98%;
}
.cancelation-text label{
	width: 48%;
}
.cancelation-text span.WebRupee{
	margin: 2px 7px 0 0;
}
.cancelation-text select {
    margin: 0 6px 20px 0;
}
.newline-btn{
	margin: 8px 15px;
	float: none;
}
.widget_content li {
    width: 97%;
}
.dashboard_price_main div.img-holds{
	height: auto;
}
textarea.phtdetl{
	width: 95%;
}


/* ============================= Cms page ====================== */


#content_text li img{	
	float:none !important;
}
#content_text li h3{
	float: none !important;
	padding: 0 !important;
	width:100% !important;
}
#content_text li p{
	float: none !important;
	padding: 0 !important;
	text-align:center !important;
	width:100% !important;
}
#content_text p{
	float: none !important;
	padding: 0 !important;
	text-align:center !important;
	width:100% !important;
}
#content_text li {
    float: none;
    padding: 10px 0;
    text-align: center;
}
.advantages h1{
	font-size: 16px;
}

/* ============================= Contact Page ====================== */

.contact-space #form{
	width: 100% !important;
}
.businessbannner .searching-section{
	top: -50px !important;
}


/* ============================= Booking Page ====================== */

.pay-head a{
	padding: 10px 0 0;
}
.pay-head {
    border-bottom: 1px solid #ccc;
    padding: 14px 24px 30px;
}
.checkin-details-left {
    float: left;
    width: 100%;
}
.cheks-status li label{
	display: inline-block;
    font-size: 13px;
    line-height: 25px;
    width: 50%;
}
.cheks-status li span{
	width: 46%;
	display: inline-block;
}
.checkin-details-right {
    float: left;
    width: 100%;
}
.notification_area{
	overflow: auto !important;
}

/* ============================= confirmbooking ====================== */


.payment_right label{
	clear: both;
}
#card{
	 padding: 13px 30px !important;
}


/* ============================= List page ====================== */

.intro-filter.clearfix .control-group input[type="text"] {
    margin: 10px 0;
    width: 100%;
}
.control-group #datepicker1 {
    margin: 0 !important;
}
.filter-list .input-medium {
    width: 100% !important;
}
.right-arel {
    float: right;
    width: 100%;
}
.filter-primary-item.span2 {
    margin-left: 0;
    width: 45%;
}
.price_slider {
    float: left;
    margin: -3px 0 0;
    width: 93%;
}
.ui-slider-horizontal{
	 width: 100% !important;
}
.map-areas .similar-listing li {
    float: left;
    margin: 0 15px 0 10px;
    width: 91%;
}



/* ============================= Detail ====================== */


.propety-feature li {
    display: inline-block;
    float: none;
    margin: 10px 0 !important;
    text-align: center;
    width: 32% !important;
}
.propety-feature span{
	font-size: 11px;
}
.right-space {
    float: left;
    width: 100%;
}
.left-space{
	font-weight: bold;
    padding: 3px 0 10px;
    text-align: center;
    width: 100%;
}
.page-bar li a{
	margin: 0 10px;
	font-size: 11px;
}
.right-space li{
	width: 100%;
}
.right-space li.exttra-area li {
    float: left;
    width: 100%;
}
.descri-section {
    border-top: 1px solid #dcdcdc;
    display: inline-block;
    float: none;
    margin: 0;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}
.descri-section img {
    display: inline-block;
    text-align: center;
}
.abt-host-text {
    padding: 0 0 0 14px;
    text-align: center;
}
.about-titl .list-paging{
	width: 100%;
	 padding: 0;
}
.list-paging li{
	width: 100%;
}
.peps {
    display: inline-block;
    float: none;
    text-align: center;
    width: 100%;
}
.peps-area{
	 float: none;
	 display: inline-block;
}
.listd-right {
    float: left;
    width: 100%;
}
a.moretag{	
	display: inline-block;
    float: none;
    font-family: opensansbold;
    font-size: 14px;
    margin: 6px 0 0;
    text-align: center;
    width: 100%;
}
.trudt-text{
	float: none;
}
.listd-right span{
	text-align: center;
}
.listd-right{
	text-align: center;
}
.listd-right a{
	 display: inline-block;
    float: none;
}
.listd-right img{
	 display: inline-block;
    float: none;
}
.listd-right span.reviews-mark{
	 display: inline-block;
    float: none;
}
.review-section-area .listings {
    padding: 25px 0;
    text-align: center;
}






}



/* ============================= 384px ====================== */


@media screen and (max-width: 384px){

.fb-sect label{
	padding: 4px 0 0 39px;
}
#number_of_guests {
	margin:0px;
}
.chekin-list li:last-child label {
    padding: 16px 0 1px 6px;
}
.page-bar li a {
    font-size: 11px;
    margin: 0 7px;
}


}



/* ============================= 375px ====================== */


@media screen and (max-width: 375px){


.profile-edit #account input#phone_number {
    width: 83% !important;
}
.profile-edit #account select.dob21 {
    float: left;
    width: 83px;
}
.profile-edit #account select.mnths {
    float: left;
    width: 71px;
}



}
/* ============================= 320px ====================== */


@media screen and (max-width: 320px){


/* ============================= Payment Page ====================== */

.payment_left{
	 padding: 20px 0 20px 14px;
}
.payment_right{
	padding: 30px 0 0 15px;
	background:url("../../images/credit_card.png") no-repeat scroll 8px 0 rgba(0, 0, 0, 0);
}
.TabbedPanelsTab{
	width: 102px;
}
.sidebar{
	top: 54px;
}


.chekin-list li:first-child {
    margin: 0;
}
.chekin-list li {
    float: left;
    padding: 0 10px;
    width: 100%;
}
.chekin-list li:last-child {
    width: 100%;
}
#number_of_guests {
    width: 98%;
}
.heart-list a{
	width: 100%;
}
.top-page-bar{
	display:none;
}
.space-descri-area a.viwe-text {
    display: inline-block;
    float: none;
    font-family: opensansregular;
    margin: 0;
    text-decoration: underline;
}


}


